<%= link_to recipe_path(recipe), class: "recipe-link" do %>
<div class="card-recipe"
     data-controller="favorite"
     data-recipe-id="<%= recipe.id %>"
     data-favorited="<%= current_user.user_recipes.exists?(recipe_id: recipe.id) %>"
     data-user-recipe-id="<%= current_user.user_recipes.find_by(recipe_id: recipe.id)&.id %>">

  <button data-action="click->favorite#toggle" class="heart-button">
    <% if current_user.user_recipes.exists?(recipe_id: recipe.id) %>
      <%= image_tag 'https://res.cloudinary.com/damvtycj5/image/upload/v1734622735/y5mkv581e9py5qahrz3b.png',
                    class: 'heart-icon',
                    data: { favorite_target: "heart" } %>
    <% else %>
      <%= image_tag 'https://res.cloudinary.com/damvtycj5/image/upload/v1734622598/q1qpxkedydun2rdvbuih.png',
                  class: 'heart-icon',
                  data: { favorite_target: "heart" } %>
    <% end %>
  </button>
  <div class="header">
    <h1><%= recipe.name %></h1>
    <%# <%= cl_image_tag(recipe.photo.key, class: "card-img") if recipe.photo.attached? %>
  </div>
  <% unless controller_name == 'recipes' && action_name == 'show' %>
    <div class="ingredients">
      <h2>Ingrédients</h2>
      <ul>
        <% JSON.parse(recipe.ingredients).each do |ingredient| %>
          <li><%= ingredient.strip %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<% end %>
