<div class="back-button">
    <%= link_to products_path do %>
      <%= image_tag 'button.svg', alt: 'Retour', class: 'svg-icon' %>
    <% end %>
</div>
<div class="fav-button">
    <%= link_to user_recipes_path do %>
      <%= image_tag 'favoris.svg', alt: 'Favoris', class: 'svg-icon' %>
    <% end %>
</div>
<div class="container-recipes">
  <h2 class="section-title">Voici quelques recettes qui pourraient vous plaire !</h2>
  <div class="recipes-scroll" id="recipes-list">
    <% @recipes.each do |recipe| %>
      <%= render "components/card-recipe", recipe: recipe %>
    <% end %>
  </div>
</div>
