<div class="overflow">
  <div class="back-button">
    <%= link_to user_recipes_index_path do %>
      <%= image_tag 'button.svg', alt: 'Retour', class: 'svg-icon' %>
    <% end %>
  </div>
  <%= render "components/card-recipe", recipe: @recipe %>
  <div class="recipe-details">
    <h2>Ingrédients</h2>
    <ul>
      <% @recipe.ingredients.split(',').each do |ingredient| %>
        <li><%= ingredient.strip %></li>
      <% end %>
    </ul>
  <div class="steps">
    <h2>Préparation</h2>
    <% if @recipe.detail.present? %>
      <% @recipe.detail.each_with_index do |(key, value), index| %>
        <% if key.start_with?('étape_') %>
          <div class="step">
            <h3>Étape <%= index + 1 %></h3>
            <p><%= value %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
