<div class="containers">
  <h1 class="product-title">Modifier <%= @product.name %></h1>

  <%= form_with(model: @product, class: "edit-form") do |f| %>
    <div class="form-group">
      <%= f.label :name, "Nom du produit" %>
      <%= f.text_field :name, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :days_remaining, "Jours restants" %>
      <%= f.number_field :days_remaining, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :expiration_date, "Date de péremption" %>
      <%= f.date_field :expiration_date, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :categorie_id, "Catégorie" %>
      <%= f.collection_select :categorie_id, Categorie.all, :id, :name, {}, class: "form-select" %>
    </div>

<%= f.button type: "submit", class: "save-button" do %>
  <%= inline_svg_tag "check.svg", class: "check-icon" %>
<% end %>
<% end %>
</div>
