<div class="burger-menu">
  <button class="burger-btn" data-bs-toggle="dropdown" aria-expanded="false">
    <svg viewBox="0 0 24 24" width="24" height="24">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li class="dropdown-header">Trier par</li>
    <li>
      <%= link_to "Date d'expiration", products_path(sort: 'expiration'), class: "dropdown-item" %>
    </li>
    <li>
      <%= link_to "Nom", products_path(sort: 'name'), class: "dropdown-item" %>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-header">Filtrer par catégorie</li>
    <div class="categories-grid">
      <% Categorie.all.each do |category| %>
        <li>
          <%= link_to category.name, products_path(category: category.id), class: "dropdown-item" %>
        </li>
      <% end %>
    </div>
  </ul>
</div>
<div class="shelf-container">
  <% if @products.present? %>
  <% total_shelves = [@products.length.fdiv(3).ceil, 9].max %>
  <% total_shelves.times do |shelf_index| %>
    <div class="shelf">
      <div class="shelf-table">
        <div class="items-row">
          <% shelf_products = @products[shelf_index * 3, 3] %>
          <% shelf_products&.each do |product| %>
            <%= link_to product_path(product), class: "item" do %>
              <div class="days <%= product.expiration_color %>">
                <% if product.expired? %>
                  <%= image_tag 'death (2).png', alt: 'Retour', class: 'skull-icon' %>
                <% else %>
                  <%= product.days_remaining %>j
                <% end %>
              </div>
              <div class="name"><%= product.name %></div>
              <div class="icon">
                <img src="<%= product.categorie.img_url %>" alt="<%= product.categorie.name %>">
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="trapeze"></div>
        <div class="bottom"></div>
      </div>
    </div>
  <% end %>
  <% else %>
    <div class="empty-shelf">
      <h2>Vous n'avez pas encore de produits</h2>
      <p>Commencez par ajouter un produit en cliquant sur le bouton +</p>
    </div>
  <% end %>
</div>
<nav class="bottom-nav">
  <div class="nav-item">
    <%= link_to recipes_new_path, class: "no-underline" do %>
      <svg viewBox="0 0 24 24">
        <path d="M11 9H9V2H7v7H5V2H3v7c0 2.12 1.66 3.84 3.75 3.97V22h2.5v-9.03C11.34 12.84 13 11.12 13 9V2h-2v7zm5-3v8h2.5v8H21V2c-2.76 0-5 2.24-5 4z"/>
      </svg>
    <% end %>
  </div>
  <%= link_to new_product_path, class: "no-underline" do %>
    <div class="add-button">+</div>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path,
              data: { turbo_method: :delete },
              class: "no-underline" do %>
      <div class="nav-item">
        <svg viewBox="0 0 24 24">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
      </div>
    <% end %>
  <% else %>
    <div class="nav-item">
      <% link_to new_user_session_path, class: "no-underline" do %>
        <svg viewBox="0 0 24 24">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
      <% end %>
    <% end %>
  </div>
</nav>
